@import "../../styles.css";

.panel-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  background-color: var(--accent-color);
  width: 420px;
  height: 600px;
  border-radius: 10px;
}

.button-accent {
  width: 150px;
  height: 40px;
  color: var(--accent-color);
  background-color: var(--text-color);
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  font-size: 18px;
}

.title {
  color: var(--text-color);
  font-family: "Handlee";
  font-size: 40px;
}

.bg-image {
  background-image: url('/assets/background_login.jpg');
  background-size: cover;
  height: 100vh;
}

.blank-line {
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  bottom: 40px;
}

.right-label {
  color: var(--text-color);
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

