<div class="container">
  <h1>Acréscimo</h1>

  <form [formGroup]="form">
    <div style="display: flex; flex-direction: column;">
      <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Valor de acréscimo</mat-label>
        <input matInput mask="separator.2" thousandSeparator="." decimalMarker=","
               id="value" placeholder="0,00" formControlName="additionValue">
      </mat-form-field>
      <button class="button-accent" style="flex: 1" (click)="applyAddition()">Confirmar</button>
    </div>
  </form>
</div>
