<h1>Pagamentos</h1>

<div style="display: flex; flex-direction: row; height: 95%;">
  <div class="panel" style="flex:1; padding: 10px;">
    <h1>Itens:</h1>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of order?.items">
        <div style="display: flex">
          <label class="label-item" style="flex: 1;">{{item.quantity}}x {{ item.description }}</label>
          <label class="label-item">R$ {{ item.totalValue.toFixed(2)}}</label>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div style="flex: 2; display: flex; flex-direction: column">
    <div style="flex:1; display: flex; flex-direction: row;">
      <div class="panel" style="flex:1; display:flex; flex-direction: column; padding: 10px;">
        <h1>Resumo da venda:</h1>
        <div style="flex: 1;">
          <div style="display: flex">
            <label class="label-subtotal" style="flex:1">Subtotal de produtos:</label>
            <label class="label-subtotal">R$ {{ order
              ? (order.amount - (order.addition !== undefined ? order.addition : 0) + (order.discount !== undefined ? order.discount : 0)).toFixed(2)
              : 0.00 }} </label>
          </div>
          <div style="display: flex">
            <label class="label-subtotal" style="flex:1">Acréscimo:</label>
            <label class="label-subtotal">R$ {{ order?.addition?.toFixed(2)}}</label>
          </div>
          <div style="display: flex">
            <label class="label-subtotal" style="flex:1">Desconto:</label>
            <label class="label-subtotal">R$ {{ order?.discount?.toFixed(2)}}</label>
          </div>
        </div>
        <div style="display: flex">
          <label class="label-total" style="flex:1">Total:</label>
          <label class="label-total">R$ {{ order?.amount?.toFixed(2)}}</label>
        </div>
      </div>
      <div class="panel" style="flex:1; padding: 10px;">
        <h1>Selecione o meio de pagamento:</h1>

        <div *ngFor="let paymentType of paymentTypes" style="display: flex;">
          <button class="button-dark button-payment" style="flex: 1" (click)="addPayment(paymentType)">
            <mat-icon class="icon-payment">{{paymentType.icon}}</mat-icon>
            {{paymentType.description}}
          </button>
        </div>
      </div>

    </div>

    <div class="panel" style="flex:1; padding: 10px;">
      <h1>Ações:</h1>
      <form [formGroup]="form">
        <div style="flex:1; display: flex; flex-direction: row;">
          <div style="flex: 1; display: flex; flex-direction: column; padding-right: 10px;">
            <button class="button" (click)="openAdditionDialog()">Aplicar acréscimo</button>
            <button class="button" (click)="openDiscountDialog()">Aplicar desconto</button>
          </div>

          <div style="flex:3; display: flex; flex-direction: row; padding-right: 10px;">
            <mat-form-field class="input-full-width" appearance="outline" style="flex: 1;">
              <mat-label>Observação</mat-label>
              <textarea matInput [maxlength]=200 style="height: 150px" placeholder="Observação"
                        formControlName="observation"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
