<h1> Cadastrar produto </h1>

<div style="display: flex; flex-direction: column; height: 95%;">

  <form [formGroup]="productForm" (ngSubmit)="onSave()">
    <div class="panel panel-head">
      <span style="flex: 8"></span>
      <button class="button" style="flex: 1" (click)="onDiscard()">Descartar</button>
      <button type="submit" class="button-accent" style="flex: 1">Salvar</button>
    </div>


    <div class="panel panel-body">

      <table class="example-full-width">
        <tr>
          <td>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput mask="0*" [maxlength]=14
                     id="code" placeholder="Código" formControlName="code">
              <mat-error
                *ngIf="productForm.get('code')?.invalid && (productForm.get('code')?.touched || formSubmitted)">
                Campo obrigatório
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Nome do produto</mat-label>
              <input matInput [maxlength]=50
                     id="name" placeholder="Nome do produto" formControlName="name">
              <mat-error *ngIf="productForm.get('name')?.invalid">Campo obrigatório</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Nome abreviado do produto</mat-label>
              <input matInput [maxlength]=15
                     id="description" placeholder="Nome abreviado do produto" formControlName="description">
              <mat-error *ngIf="productForm.get('description')?.invalid">Campo obrigatório</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Preço de venda</mat-label>
              <input matInput mask="separator.2" thousandSeparator="." decimalMarker=","
                     id="price" placeholder="Preço de venda" formControlName="price">
              <mat-error *ngIf="productForm.get('price')?.invalid">Campo obrigatório</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Preço de custo</mat-label>
              <input matInput mask="separator.2" thousandSeparator="." decimalMarker=","
                     id="costPrice" placeholder="Preço de custo" formControlName="costPrice">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select formControlName="selectedCategory">
                <mat-option *ngFor="let category of categories"
                            [value]="category">{{ category.description }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table>
        <td>
          <mat-form-field class="input-full-width" appearance="outline">
            <mat-label>Observação</mat-label>
            <textarea matInput
                      [maxlength]=200
                      style="height: 150px" placeholder="Observação" formControlName="observation"></textarea>
          </mat-form-field>
        </td>
      </table>
    </div>
  </form>
</div>
