.panel-head {
  height: 60px;
  width: calc(95%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.panel-body {
  width: calc(95%);
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 30px;
}

.input-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
