/* You can add global styles to this file, and also import other style files */
:root {
  --accent-color: #FBC02D;
  --background-color: #DDDCDC;
  --dark-color: #424242;
  --dark-variant-color: #534E4E;
  --text-color: #FFFFFF;
  --text-dark-color: #141414;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.card:hover {
  opacity: 70%;
}

.input {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px
}

.button-accent {
  background-color: var(--accent-color);
  color: var(--text-color);
  margin: 5px;
  padding: 10px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.button {
  background-color: var(--background-color);
  color: var(--text-dark-color);
  margin: 5px;
  padding: 10px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.button:hover {
  opacity: 70%;
}

.button-accent:hover {
  opacity: 70%;
}

.transparent-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.transparent-button:hover {
  min-width: 25px;
  min-height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 6px;
}

.panel {
  background-color: #FFFFFF;
  border-radius: 6px;
  margin: 10px;
}

.icon {
  font-size: 18px;
  margin: 10px;
}
icon-suffix .mat-icon {
  padding: 0px !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  --mdc-snackbar-container-color: #64DD17;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.snackbar-fail {
  --mdc-snackbar-container-color: #F44336;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
