<h1> Vender </h1>

<div style="display: flex; flex-direction: row; height: 95%;">

  <div style="flex:7; display: flex; flex-direction: column;">
    <div class="panel panel-head">
      <mat-form-field appearance="outline" style="flex: 8; margin-top: 20px">
        <input matInput placeholder="Pesquisar" (input)="filterProducts($event)">
        <mat-icon matSuffix style="padding: 0px !important; margin-right: 10px;">search</mat-icon>
      </mat-form-field>
    </div>

    <div class="panel-products">
      <button *ngFor="let product of filteredProducts" class="card card-menu" (click)="addItem(product)">
        <div class="card-text">{{ product.description.toUpperCase() }}</div>
        <div class="card-price">{{ 'R$ ' + product.price.toFixed(2) }}</div>
      </button>
      <button class="card card-menu">
        <div class="card-text-add-product">{{ '+' }}</div>
      </button>
    </div>
  </div>

  <div style="flex: 3;">
    <div class="panel panel-shopping-cart">
      <div class="list-container" style="flex: 7.5">
        <mat-list>
          <mat-list-item class="mat-list-item" *ngFor="let item of orderItems">
            <div class="grid-description">
              <label class="label-description">{{ findProductById(item.idProduct)?.description }}</label>
            </div>
            <div class="item-label grid-quantity">
              <button class="transparent-button">
                <span class="icon"><i class="fas fa-minus" (click)="removeQuantity(item)"></i></span>
              </button>
              <label class="label-quantity">{{ item.quantity }}</label>
              <button class="transparent-button" (click)="addQuantity(item)">
                <span class="icon"><i class="fas fa-plus"></i></span>
              </button>
            </div>
            <div class="item-label item-price">
              <label>{{'R$ ' + item.totalValue.toFixed(2) }}</label>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <div style="flex: 2.5; border-top: 2px solid #ccc;">
        <div class="grid-container-total">
          <div class="grid-row-total">
            <label class="label-total-left">Subtotal:</label>
            <label class="label-total-right">{{ 'R$ ' + (order != null ? order.amount.toFixed(2) : '0,00') }}</label>
          </div>
          <div class="grid-row-total">
            <label class="label-total-left">Total:</label>
            <label class="label-total-right">{{ 'R$ ' + (order != null ? order.amount.toFixed(2) : '0,00')}}</label>
          </div>
        </div>
        <div style="height: 50%; display: flex; align-items: center; justify-content: center">
          <button class="button-accent" style="width: 260px" (click)="openSalePayment()">Ir para pagamento</button>
        </div>
      </div>
    </div>
  </div>
</div>




